# =========================
# ROS2 build artifacts
# =========================
build/
install/
log/

# =========================
# ORB-SLAM3 binaries
# =========================
*.so
*.a
*.o

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Editor / OS junk
# =========================
.vscode/
.DS_Store
Thumbs.db

